.list-container {
  height: 81vh;
  overflow-y: auto;
  margin: 10px !important;
  border-radius: 4px;
  box-sizing: content-box;
  box-shadow: 0 1px 2px 2px #d0d0d0;
}

.no-item {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}
