.App {
}

.App-logo {
  height: 20vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.pad-lr-10 {
  padding-left: 10px;
  padding-right: 10px;
}
